/*Background Templates*/
/* Template 1*/
html.t1{
  	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#CCCCCC, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#CCCCCC, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#CCCCCC, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#CCCCCC, #FFFFFF); /* Standard syntax */
}

/* Template 2*/
html.t2 {
  	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#0066FF, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#0066FF, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#0066FF, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#0066FF, #FFFFFF); /* Standard syntax */
}

/* Template 3*/
html.t3 {
  	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#FF0066, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF0066, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF0066, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF0066, #FFFFFF); /* Standard syntax */
}

/* Template 4*/
html.t4 {
  	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#33CC33, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#33CC33, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#33CC33, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#33CC33, #FFFFFF); /* Standard syntax */
}

/* Template 5*/
html.t5 {
  	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#FF3300, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF3300, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF3300, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF3300, #FFFFFF); /* Standard syntax */
}
/*Styling PlaceholdeR Text */
/*Base code from http://coolestguidesontheplanet.com/styling-placeholder-text-input-fields-forms-css/ */
::-webkit-input-placeholder {
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
	font-size:14px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
	font-size: 14px;
	color: #000000; 
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
} 
:-ms-input-placeholder { 
	font-size: 14px; 
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	 font-weight: bold;
}

/*Format Styles*/

#title.s1 {
	font-size: 24px;
	height: 50px;
	width: 300px;
	margin-bottom: 40px;
	background-color: transparent;
	border: 0px;
}

textarea.s1{
	resize: none;
	height: 400px;
	width: 200px;
}

#sB-text.s1{
	position: absolute;
	left: 20px;
	background-color: transparent;
	border-style: double;
	border-width: 3px;
}

#sB-link.s1{
	position: absolute;
	left: 200px;
	background-color: transparent;
	border-style: double;
	border-width: 3px;
}

#m-text.s1{
	position: absolute;
	height: 400px;
	width: 800px;
	left: 437px;
	top: 100px;
	background-color: transparent;
	border-width: 7px;
	border-color: #000000;
}

submit.s1{
	margin-left: auto;
	margin-right: auto;
}

