html {
  	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #70bg32;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(#CCCCCC, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#CCCCCC, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#CCCCCC, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#CCCCCC, #FFFFFF); /* Standard syntax */
}
	
input#title {
	font-size: 24px;
	height: 50px;
	width: 300px;
	margin-bottom: 40px;
}

textarea{
	height: 400px;
	width: 200px;
}

#sB-text{
	margin-left:20px;
}

#m-text{
	height: 400px;
	width: 800px;
}

submit{
	margin-left: auto;
	margin-right: auto;
}

